<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/style.css" />
  </head>
  <body>
    <main>
      <h1>Weather App</h1>
      <input type="text" placeholder="Location" id="inputCity" />
      <input type="button" value="submit" onclick="weatherData()" />
      <div class="output"></div>
    </main>
    <script src="./assets/js/main.js"></script>
  </body>
</html>
